In [1]:
#Importation des bibliothèqes
import pandas as pd
import numpy as np

In [207]:
df = pd.read_csv("../data/data_merge.csv")

print(df.shape)
print(df.columns)
print(df.head())
print(df.info())

C:\Users\UGO\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(65948, 39)
Index(['lib_mrq', 'lib_mod_doss', 'lib_mod', 'dscom', 'cod_cbr', 'hybride',
       'puiss_admin_98', 'puiss_max', 'typ_boite_nb_rapp', 'conso_urb',
       'conso_exurb', 'conso_mixte', 'co2', 'co_typ_1', 'nox', 'ptcl',
       'masse_ordma_min', 'masse_ordma_max', 'champ_v9', 'Carrosserie',
       'gamme', 'Country', 'Mp', 'Mh', 'Man', 'MMS', 'Tan', 'Cn', 'Ct', 'r',
       'm (kg)', 'Enedc (g/km)', 'W (mm)', 'At1 (mm)', 'At2 (mm)', 'Ft', 'Fm',
       'ec (cm3)', 'ep (KW)'],
      dtype='object')
      lib_mrq lib_mod_doss lib_mod                        dscom cod_cbr  \
0  ALFA-ROMEO          159     159         159 2.0 JTDm (170ch)      GO
1  ALFA-ROMEO          159     159     159 2.0 JTDm (170ch) ECO      GO
2  ALFA-ROMEO          159     159      159 SW 2.0 JTDm (170ch)      GO
3  ALFA-ROMEO          159     159      159 SW 2.0 JTDm (170ch)      GO
4  ALFA-ROMEO          159     159  159 SW 2.0 JTDm (170ch) ECO      GO

  hybride  puiss_admin_98 puiss_max typ_boite_nb_rapp    conso_urb   ...    r  \
0     non               9       125               M 6  6,900000095   ...    2
1     non               9       125               M 6  6,599999905   ...    2
2     non               9       125               M 6  7,099999905   ...    4
3     non               9       125               M 6  7,099999905   ...    1
4     non               9       125               M 6  6,699999809   ...    3

   m (kg)  Enedc (g/km)  W (mm) At1 (mm) At2 (mm)      Ft  Fm ec (cm3) ep (KW)
0  1578.0         142.0  2703.0   1579.0   1559.0  diesel   M   1956.0     NaN
1  1565.0         136.0  2703.0   1593.0   1575.0  Diesel   M   1956.0     NaN
2  1628.0         145.0  2703.0   1579.0   1559.0  diesel   M   1956.0     NaN
3  1627.0         145.0  2703.0   1579.0   1559.0  diesel   M   1956.0     NaN
4  1615.0         139.0  2703.0   1593.0   1575.0  Diesel   M   1956.0     NaN

[5 rows x 39 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65948 entries, 0 to 65947
Data columns (total 39 columns):
lib_mrq              65948 non-null object
lib_mod_doss         65948 non-null object
lib_mod              65948 non-null object
dscom                65948 non-null object
cod_cbr              65948 non-null object
hybride              65948 non-null object
puiss_admin_98       65948 non-null int64
puiss_max            65948 non-null object
typ_boite_nb_rapp    65948 non-null object
conso_urb            65791 non-null object
conso_exurb          65791 non-null object
conso_mixte          65791 non-null object
co2                  65791 non-null float64
co_typ_1             65779 non-null object
nox                  65779 non-null object
ptcl                 49211 non-null object
masse_ordma_min      65948 non-null int64
masse_ordma_max      65948 non-null int64
champ_v9             65791 non-null object
Carrosserie          65948 non-null object
gamme                65948 non-null object
Country              65948 non-null object
Mp                   40301 non-null object
Mh                   65948 non-null object
Man                  65948 non-null object
MMS                  55839 non-null object
Tan                  57867 non-null object
Cn                   65842 non-null object
Ct                   65864 non-null object
r                    65948 non-null int64
m (kg)               65871 non-null float64
Enedc (g/km)         65931 non-null float64
W (mm)               65225 non-null float64
At1 (mm)             64743 non-null float64
At2 (mm)             59805 non-null float64
Ft                   64783 non-null object
Fm                   64641 non-null object
ec (cm3)             65077 non-null float64
ep (KW)              49842 non-null float64
dtypes: float64(8), int64(4), object(27)
memory usage: 12.8+ MB
None

**Etude de lib_mrq**

In [9]:
df["lib_mrq"].value_counts()

RENAULT         19378
CITROEN         15371
PEUGEOT         11825
DACIA            8960
VOLVO            5908
FIAT             2930
ALFA-ROMEO        952
NISSAN            430
OPEL               26
SKODA              23
JAGUAR             13
VOLKSWAGEN         13
SUZUKI             13
LAMBORGHINI        12
LEXUS              12
MITSUBISHI         10
INFINITI            9
LANCIA              9
MIA                 8
LOTUS               8
ASTON MARTIN        6
SUBARU              6
LAND ROVER          4
MERCEDES            4
CHEVROLET           4
FERRARI             4
MASERATI            3
HONDA               2
KIA                 2
JEEP                1
CADILLAC            1
HYUNDAI             1
Name: lib_mrq, dtype: int64

**Etude de lib_mod_doss**

In [13]:
print(df["lib_mod_doss"].value_counts())

CLIO                 6132
MEGANE               5642
MEGANE SCENIC        3497
LODGY                3102
SANDERO              3073
C5                   2830
CAPTUR               2098
208                  1855
BERLINGO             1845
DS3                  1808
508                  1800
C3                   1785
C4                   1671
500                  1368
DUSTER               1280
V40                  1253
5008                 1222
C3 PICASSO           1208
3008                 1135
308                  1117
DOKKER               1074
C4 PICASSO           1029
PARTNER              1025
XC60                 1010
RCZ                   852
V60                   805
C1                    773
S60                   760
DS4                   727
ESPACE                703
                     ...
GRANTURISMO             2
XK COUPE                2
ALTO                    2
370Z ROADSTER           2
LEAF                    2
SPLASH                  2
RX450H                  2
IS250                   2
PAJERO                  2
CR-V                    2
XK CONVERTIBLE          2
AR8C SPIDER             1
QUATTROPORTE S Q4       1
I 20                    1
CEE'D                   1
SOUL                    1
COMPASS                 1
RX350                   1
TRAX                    1
MOKKA                   1
IS200                   1
IS F                    1
CTS-V                   1
ASTRA                   1
COLT                    1
CLASSE A                1
LS460                   1
XKR-S COUPE             1
SUPERB                  1
GS450                   1
Name: lib_mod_doss, Length: 142, dtype: int64
142

In [14]:
print(df["lib_mod"].value_counts())

CLIO            6132
MEGANE          5642
SCENIC          3497
LODGY           3102
SANDERO         3073
C5              2830
CAPTUR          2098
208             1855
BERLINGO        1845
V40             1824
DS3             1808
508             1800
C3              1785
C4              1671
500             1371
DUSTER          1280
5008            1222
C3 PICASSO      1208
3008            1135
308             1117
DOKKER          1074
C4 PICASSO      1029
PARTNER         1025
XC60            1010
RCZ              852
V60              838
C1               773
S60              760
DS4              727
ESPACE           703
                ...
MURANO             3
RX                 3
QX50               3
PHAETON            3
DUCATO             3
Q60                3
C 220              2
SX4                2
370Z               2
LEAF               2
GRANTURISMO        2
PAJERO             2
CR-V               2
SPLASH             2
ALTO               2
COLT               1
QUATTROPORTE       1
I 20               1
SUPERB             1
COMPASS            1
SOUL               1
8C SPIDER          1
TRAX               1
GS                 1
C 180              1
A 180              1
MOKKA              1
ASTRA              1
CTS                1
CEE'D              1
Name: lib_mod, Length: 130, dtype: int64
130

In [20]:
print(df["dscom"].value_counts())

MEGANE Estate Nouvelle EnergydCi (110ch) eco2          978
Nouvelle CLIO Nouvelle 1.2 16V (75ch)                  944
MEGANE Berline Nouvelle EnergydCi (110ch) eco2         785
LODGY dCi (110ch) eco2 7PL                             728
BERLINGO Hdi (90ch) BVM5                               725
CAPTUR EnergydCi (90ch) eco2                           697
LODGY dCi (90ch) eco2 7PL                              664
CAPTUR EnergyTCe (90ch) eco2                           645
Nouvelle CLIO Graphite EnergydCi (90ch) eco2           644
Nouvelle SANDERO Stepway dCi (90ch) eco2               641
LODGY dCi (90ch) eco2 5PL                              603
Nouvelle CLIO Graphite EnergyTCe (90ch) eco2           586
Nouvelle CLIO Graphite dCi (75ch) eco2                 568
Nouvelle SANDERO Stepway TCe (90ch)                    544
MEGANE Berline Nouvelle EnergyTCe (115ch) eco2         539
MEGANE Estate Nouvelle EnergyTCe (115ch) eco2          524
LODGY dCi (110ch) eco2 5PL                             522
DOKKER Embleme dCi (90ch) eco2                         499
Nouvelle SANDERO TCe (90ch) eco2                       497
SCENIC Bose« 2014 EnergydCi (110ch) eco2               487
CAPTUR TCe (120ch) EDC                                 471
C3 PICASSO VTi (95ch)                                  437
DUSTER dCi (110ch) 4x4                                 431
C4 HDi (90ch) FAP BVM5                                 428
Nouvelle SANDERO 1.2 16V (75ch)                        421
MEGANE Coupé EnergydCi (110ch) eco2                    402
C4 VTi BVM5 (120ch)                                    384
DS3 VTI (120ch) BVM5                                   380
SCENIC Nouvelle EnergyTCe (115ch)                      369
DOKKER dCi (75ch) eco2                                 369
                                                      ...
COMPASS 2.2 L CRD BMV6                                   1
OUTLANDER 2.2 DI-D Instyle TC-SST                        1
XKR-S V8 5L Essence Suralimenté (550ch) CEE - Coupé      1
NV400 COMBI 3T5 8 PL 2.3 dCi (125ch) E5b+ BVM6 L2H2      1
Evora (2+2)                                              1
MURANO 2.5 dCi                                           1
Musa 1.3 MultiJet 16v (95ch) DPF Stop&Start D.F.S        1
AGILA 1.2 BVM5                                           1
FABIA BERLINE 1.6L (75ch)                                1
8C SPIDER                                                1
COLT CLEARTEC 1.3L Invite                                1
V40 D3 (150ch) Stop&Start et/ou 19'' Geartronic 6        1
308 CC 1.6 e-Hdi FAP BVM6                                1
IS 250 V6 2.5L                                           1
AGILA 1.2 Start/Stop BVM5                                1
ROOMSTER 1.2L TSI (85ch) BVM5                            1
500 Abarth Esseesse Euro 5                               1
IS 200d 2.2L                                             1
SOUL 1.6 Diesel CRDi (128ch) BVM 6                       1
FABIA COMBI 1.2L TSI (105ch) DGS7                        1
A 180 CDI BVM6 FAP                                       1
PANDA 1.2 (69ch) 5PL                                     1
Q60 3.7 Cabriolet                                        1
370Z ROADSTER BVA7                                       1
AGILA 1.0 ecoFLEX Start/Stop BVM5                        1
159 2.0 JTDm (170ch)                                     1
NEMO COMBI HDi (75ch) BMP5 Confort                       1
159 2.0 JTDm (136ch)                                     1
FABIA BERLINE 1.6 TDI (90ch) FAP                         1
FREELANDER 2 TD4 (150ch) 5PL BVA                         1
Name: dscom, Length: 847, dtype: int64

In [22]:
print(df["cod_cbr"].value_counts())

GO       39348
ES       25315
GH         433
GP/ES      325
ES/GP      325
EL         157
GL          33
EH           6
ES/GN        3
GN/ES        3
Name: cod_cbr, dtype: int64

In [23]:
print(df["hybride"].value_counts())

non    65476
oui      472
Name: hybride, dtype: int64

In [25]:
print(df["puiss_admin_98"].describe())

count    65948.000000
mean         6.481607
std          2.665410
min          1.000000
25%          5.000000
50%          6.000000
75%          8.000000
max         50.000000
Name: puiss_admin_98, dtype: float64

In [213]:
print(df["puiss_max"].value_counts())
print(df["puiss_max"].isnull().sum())
print(df["puiss_max"].tail())
print(df["puiss_max"].tail().values)

66             8803
81             4442
88             3233
84             2931
55             2706
85             2660
68             2578
120            2421
115            1936
110            1798
50             1736
158            1722
96             1695
88             1610
68             1546
50             1491
84             1443
54             1320
79             1250
120            1240
97             1134
51             1087
133             932
70              886
115             804
60              772
147             729
80              718
100             682
127             659
               ...
290               3
313,2000122       3
44                2
183               2
187               2
241               2
298               2
175               2
90                2
176               2
153               2
188               2
170               2
118               2
320,7000122       2
287               1
139,5             1
48                1
218               1
191               1
331               1
204               1
270               1
380               1
127               1
415               1
246               1
149               1
302               1
311               1
Name: puiss_max, Length: 132, dtype: int64
0
65943    224
65944    224
65945    224
65946    224
65947    224
Name: puiss_max, dtype: object
[224 224 224 224 224]

In [202]:
df["puiss_max"] = df["puiss_max"].str.replace(",",".").astype("float64")

In [205]:
print(df["puiss_max"].describe())
print(df["puiss_max"].isnull().sum())
print(df["puiss_max"].value_counts())
print(df["puiss_max"].tail())

count    16384.000000
mean        83.279523
std         30.101897
min         10.000000
25%         68.000000
50%         77.000000
75%        100.000000
max        419.000000
Name: puiss_max, dtype: float64
49564
68.000000     2578
88.000000     1610
50.000000     1491
84.000000     1443
120.000000    1240
51.000000     1087
70.000000      886
115.000000     804
103.000000     494
110.000000     487
125.000000     481
73.500000      477
85.000000      440
60.000000      355
77.000000      349
150.000000     280
55.000000      264
57.000000      256
72.000000      204
62.500000      190
62.000000      155
100.000000     130
99.000000      118
86.000000       81
172.500000      60
121.000000      53
66.000000       43
147.000000      37
94.000000       37
99.199997       26
              ...
313.200012       3
290.000000       3
118.000000       2
320.700012       2
188.000000       2
170.000000       2
183.000000       2
175.000000       2
298.000000       2
90.000000        2
176.000000       2
187.000000       2
153.000000       2
241.000000       2
44.000000        2
311.000000       1
191.000000       1
380.000000       1
287.000000       1
302.000000       1
218.000000       1
139.500000       1
149.000000       1
331.000000       1
246.000000       1
270.000000       1
204.000000       1
415.000000       1
127.000000       1
48.000000        1
Name: puiss_max, Length: 87, dtype: int64
65943   NaN
65944   NaN
65945   NaN
65946   NaN
65947   NaN
Name: puiss_max, dtype: float64

In [36]:
print(df["typ_boite_nb_rapp"].value_counts())

M 5    26812
M 6    24814
A 6    11735
A 4      765
D 5      620
A 5      557
A 8      417
V 0      168
D 6       32
A 7       21
D 7        4
N 0        2
S 6        1
Name: typ_boite_nb_rapp, dtype: int64

In [40]:
df["conso_urb"] = df["conso_urb"].str.replace(",",".").astype("float64")

In [41]:
print(df["conso_urb"].describe())

count    65791.000000
mean         6.285644
std          1.841416
min          0.000000
25%          4.900000
50%          5.900000
75%          7.600000
max         24.400000
Name: conso_urb, dtype: float64

In [42]:
df["conso_exurb"] = df["conso_exurb"].str.replace(",",".").astype("float64")

In [43]:
print(df["conso_exurb"].value_counts())

3.2     4575
4.3     4056
4.6     3869
3.8     3846
4.0     3752
3.9     3696
4.7     3339
4.1     2989
5.0     2984
4.9     2854
5.1     2484
3.7     2438
4.8     2431
4.5     2286
3.6     2284
3.4     1957
4.2     1929
3.5     1347
4.4     1281
5.6     1238
5.2     1224
5.5     1107
5.8     1032
3.3     1003
5.3      977
5.4      951
6.0      773
3.0      545
6.2      466
3.1      366
        ...
7.3       88
6.3       70
2.9       52
7.5       48
6.4       44
7.0       11
8.6       11
8.4        8
8.0        7
9.4        7
9.2        5
9.3        4
8.3        4
7.1        4
7.4        3
7.2        3
6.9        3
6.6        2
7.8        2
9.7        2
10.0       2
9.6        2
10.2       2
8.5        1
10.4       1
11.7       1
11.5       1
9.8        1
7.6        1
11.6       1
Name: conso_exurb, Length: 68, dtype: int64

In [44]:
df["conso_mixte"] = df["conso_mixte"].str.replace(",",".").astype("float64")

In [46]:
print(df["conso_mixte"].describe())

count    65791.000000
mean         5.069351
std          1.152650
min          1.800000
25%          4.200000
50%          4.900000
75%          5.900000
max         16.400000
Name: conso_mixte, dtype: float64

In [53]:
print(df["co2"].describe())

count    65791.000000
mean       125.227904
std         25.593656
min         48.000000
25%        105.000000
50%        120.000000
75%        140.000000
max        388.000000
Name: co2, dtype: float64

In [54]:
df["co_typ_1"] = df["co_typ_1"].str.replace(",",".").astype("float64")

In [55]:
print(df["co_typ_1"].describe())

count    65779.000000
mean         0.304562
std          0.140076
min          0.020000
25%          0.213000
50%          0.274000
75%          0.349000
max          0.931000
Name: co_typ_1, dtype: float64

In [57]:
df["nox"] = df["nox"].str.replace(",",".").astype("float64")

In [59]:
print(df["nox"].describe())

count    65779.000000
mean         0.097032
std          0.062838
min          0.001000
25%          0.027000
50%          0.119000
75%          0.148000
max          0.259000
Name: nox, dtype: float64

In [64]:
df["ptcl"] = df["ptcl"].str.replace(",",".").astype("float64")

In [65]:
print(df["ptcl"].describe())

count    48845.000000
mean         0.000741
std          0.000823
min          0.000000
25%          0.000000
50%          0.001000
75%          0.001000
max          0.023000
Name: ptcl, dtype: float64

In [60]:
print(df["masse_ordma_min"].describe())

count    65948.000000
mean      1365.596531
std        246.705918
min        875.000000
25%       1165.000000
50%       1350.000000
75%       1505.000000
max       2475.000000
Name: masse_ordma_min, dtype: float64

In [61]:
print(df["masse_ordma_max"].describe())

count    65948.000000
mean      1382.619913
std        245.609113
min        890.000000
25%       1194.000000
50%       1383.000000
75%       1505.000000
max       2525.000000
Name: masse_ordma_max, dtype: float64

In [67]:
print(df["champ_v9"].value_counts())
print(df.duplicated().sum())

715/2007*630/2012EURO5     23542
715/2007*195/2013EURO5     15920
"715/2007*630/2012EURO5     8744
"715/2007*195/2013EURO5     6533
715/2007*566/2011EURO5      5746
715/2007*692/2008EURO5      3234
715/2007*195/2013EURO6       822
715/2007*459/2012EURO5       407
715/2007*630/2012EURO6       216
"715/2007*630/2012EURO6      191
"715/2007*566/2011EURO5      156
"715/2007*459/2012EURO5      154
"715/2007*195/2013EURO6       57
715/2007*459/2012EURO6        46
"715/2007*692/2008EURO5       23
Name: champ_v9, dtype: int64
0

In [73]:
to_replace = ['"715/2007*630/2012EURO5','"715/2007*195/2013EURO5','"715/2007*630/2012EURO6','"715/2007*566/2011EURO5',
              '"715/2007*459/2012EURO5','"715/2007*195/2013EURO6','"715/2007*692/2008EURO5']
value = ['715/2007*630/2012EURO5','715/2007*195/2013EURO5','715/2007*630/2012EURO6','715/2007*566/2011EURO5',
              '715/2007*459/2012EURO5','715/2007*195/2013EURO6','715/2007*692/2008EURO5']
df["champ_v9"] = df["champ_v9"].replace(to_replace=to_replace,value=value)
print(df["champ_v9"].value_counts())
print(df.duplicated().sum())

715/2007*630/2012EURO5    32286
715/2007*195/2013EURO5    22453
715/2007*566/2011EURO5     5902
715/2007*692/2008EURO5     3257
715/2007*195/2013EURO6      879
715/2007*459/2012EURO5      561
715/2007*630/2012EURO6      407
715/2007*459/2012EURO6       46
Name: champ_v9, dtype: int64
0

In [74]:
print(df["Carrosserie"].value_counts())

BERLINE                29250
BREAK                   8948
MONOSPACE COMPACT       8850
TS TERRAINS/CHEMINS     6664
COMBISPACE              4317
COUPE                   2231
MINIBUS                 1835
MINISPACE               1467
CABRIOLET               1294
MONOSPACE               1092
Name: Carrosserie, dtype: int64

In [75]:
print(df["gamme"].value_counts())

INFERIEURE        26020
MOY-INFER         23445
MOY-SUPER          7547
SUPERIEURE         4796
ECONOMIQUE         3619
LUXE                487
MOY-INFERIEURE       34
Name: gamme, dtype: int64

In [76]:
print(df["Country"].value_counts())

GB    9958
PL    6464
AT    6366
DE    5599
BE    4844
ES    4155
IT    3062
FR    2905
LU    2659
DK    2504
SK    2325
PT    1953
CZ    1933
SE    1617
FI    1470
HU    1399
EE     876
NL     846
RO     737
BG     668
IE     525
GR     508
SI     506
HR     503
LT     485
MT     453
LV     410
CY     218
Name: Country, dtype: int64

In [77]:
print(df["Mp"].value_counts())

POOL RENAULT                  28264
na                            10758
FIAT GROUP AUTOMOBILES SPA     1212
VW Group PC                      31
TJL                              10
MITSUBISHI POOL                   7
JLT POOL                          7
DAIMLER AG                        4
GENERAL MOTORS                    3
MITSUBISHI MOTORS                 3
HONDA MOTOR EUROPE LTD            2
Name: Mp, dtype: int64

In [78]:
print(df["Mh"].value_counts())

RENAULT                              19373
CITROEN                              15308
AUTOMOBILES PEUGEOT                  11767
DACIA                                 8950
VOLVO                                 5894
FIAT GROUP AUTOMOBILES SPA            2659
FIAT GROUP                            1211
NISSAN                                 400
AA-IVA                                 140
NISSAN INTERNATIONAL SA                 38
OPEL                                    26
SKODA                                   23
MAGYAR SUZUKI CORPORATION LTD           22
VOLKSWAGEN                              13
TOYOTA MOTOR EUROPE                     12
LAMBORGHINI                             12
LOTUS                                    8
MIA                                      8
JAGUAR CARS LTD                          7
AA-NSS                                   7
SUZUKI MOTOR CORPORATION                 7
MITSUBISHI MOTORS CORPORATION MMC        6
JAGUAR                                   6
UNKNOWN                                  5
OUT OF SCOPE                             5
GM KOREA                                 4
FUJI HEAVY INDUSTRIES LTD                4
LAND ROVER                               4
FERRARI                                  4
DAIMLER AG                               4
ASTON MARTIN LAGONDA LTD                 3
MITSUBISHI MOTORS CORPORATION            3
HONDA UK                                 2
MASERATI                                 2
MARUTI SUZUKI INDIA LTD                  2
KIA                                      2
FUJI HEAVY INDUSTRIES                    2
MITSUBISHI MOTORS EUROPE BV MME          1
HYUNDAI ASSAN                            1
GENERAL MOTORS COMPANY                   1
MASERATI SPA                             1
CHRYSLER GROUP LLC                       1
Name: Mh, dtype: int64

In [79]:
print(df["Man"].value_counts())

RENAULT SAS                          16602
CITROEN                              15308
AUTOMOBILES PEUGEOT                  11721
AUTOMOBILE DACIA SA                   8953
VOLVO CAR CORPORATION                 5804
FIAT GROUP AUTOMOBILES SPA            3871
RENAULT                               2773
NISSAN INTERNATIONAL SA                433
AA-IVA                                  76
VOLVO                                   71
AA_IVA                                  64
PEUGEOT                                 44
SKODA AUTO AS                           23
ADAM OPEL AG                            20
MAGYAR SUZUKI                           16
VOLVO CAR CORP.                         14
JAGUAR CARS LTD                         13
TOYOTA MOTOR EUROPE                     12
MITSUBISHI MOTORS CORPORTION MMC         9
VOLKSWAGEN                               9
LAMBORGHINI                              8
MIA ELECTRIC SAS                         8
LOTUS CARS LIMITED                       8
AA-NSS                                   7
SUZUKI MOTOR CORPORATION                 7
ADAM OPEL GMBH                           6
MAGYAR SUZUKI CORPORATION LTD            6
FUJI HEAVY INDUSTRIES LTD                6
ASTON MARTIN LAGONDA LTD                 6
Volvo Car Corporation                    5
NISSAN                                   5
VOLKSWAGEN AG                            4
LAND ROVER                               4
GM KOREA COMPANY                         4
FERRARI                                  4
AUTOMOBILI LAMBORGHINI SPA               4
DAIMLER AG                               3
MASERATI SPA                             3
MARUTI SUZUKI INDIA LTD                  2
AUTOMOBILIES PEUGEOT                     2
KIA MOTORS CORPORATION                   2
HONDA OF THE UK MANUFACTURING LTD        2
DAIMLER AG STUTTGART                     1
AUDI AG                                  1
HYUNDAI ASSAN OTOMOTIV SANAYI VE         1
MITSUBISHI MOTORS EUROPE BV MME          1
GENERAL MOTORS COMPANY                   1
CHRYSLER GROUP LLC                       1
Name: Man, dtype: int64

In [80]:
print(df["MMS"].value_counts())

RENAULT                                                           13419
CITROEN                                                            9731
AUTOMOBILE DACIA                                                   4615
AUTOMOBILES PEUGEOT                                                4039
PEUGEOT                                                            3261
FIAT                                                               3069
RENAULT S.A.S.                                                     2705
DACIA                                                              1866
VOLVO CAR CORPORATION                                              1821
VOLVO                                                              1512
RENAULT SAS                                                        1475
CITROEN (F)                                                        1438
VOLVO (S)                                                          1176
AUTOMOBILE DACIA SA                                                1172
PEUGEOT (F)                                                        1028
RENAULT (F)                                                         809
ALFA-ROMEO                                                          639
DACIA (RO)                                                          289
AUTOMOBILES DACIA SA                                                287
AUTOMOBILE DACIA S.A.                                               199
NISSAN INTERNATIONAL SA                                             149
FIAT GROUP AUTOMOBILES SPA                                          108
AUTOMOBILES DACIA S.A.                                              102
AUTOMOBILES CITROEN, 6, Rue Fructidor, 75017 PARIS, FRANCUSKA        95
NISSAN (CH)                                                          87
AA_IVA                                                               78
NISSAN                                                               74
VOLVO CAR CORPORATION, SE 40531 Gothenburg, Å VEDSKA                 67
NISSAN INTERNATIONAL, S.A.                                           51
Automobiles Peugeot, 75 avenue de la Grande Armee, 75116 Paris       48
                                                                  ...
AUTOMOBILES CITROEN 7J5FK0                                            1
AUTOMOBILES CITROEN SC5FS9                                            1
AUTOMOBILES PEUGEOT EBRHH8                                            1
CHRYSLER GROUP LLC                                                    1
AUTOMOBILES CITROEN SC9HP0                                            1
KIA MOTORS SLOVAKIA S.R.O.                                            1
KIA MOTOR CORP                                                        1
AUTOMOBILES CITROEN EBRHD8                                            1
AUTOMOBILES PEUGEOT 4J5FU8                                            1
AUTOMOBILES CITROEN RW5FV8                                            1
AUTOMOBILES PEUGEOT 0U5FV8/1                                          1
AUTOMOBILES PEUGEOT WA8HR0/1                                          1
AUTOMOBILES PEUGEOT WC8HR0/1                                          1
AUTOMOBILES CITROEN SC9HP0/1                                          1
HYUNDAI ASSAN OTOMOTIV SANAYI VE TICARET A.S.                         1
AUTOMOBILES CITROEN RW9HL0                                            1
AUTOMOBILES CITROEN SA5FS9/1                                          1
MASERATI                                                              1
AUTOMOBILES PEUGEOT WB9HR8/1                                          1
AUTOMOBILES CITROEN SC5FS0                                            1
AUTOMOBILES PEUGEOT 0ERHE8/1                                          1
VOLVO CAR GERMANY GMBH                                                1
DANGEL                                                                1
AUTOMOBILES CITROEN SA5FS0                                            1
CITA SECONDA                                                          1
AUTOMOBILES PEUGEOT 7J5FS0                                            1
AUTOMOBILES PEUGEOT 4J5FV8                                            1
AUTOMOBILES PEUGEOT 0A5FS0/1                                          1
AUTOMOBILES CITROEN 7J5FS0                                            1
AUTOMOBILES PEUGEOT 4JRHH8                                            1
Name: MMS, Length: 109, dtype: int64

In [81]:
print(df["Tan"].value_counts())

e2*2001/116*0314*70      865
e2*2001/116*0314*68      768
e2*2001/116*0314*66      715
e2*2001/116*0327*58      671
e2*2001/116*0327*56      635
e2*2001/116*0327*57      530
e2*2001/116*0314*67      507
e2*2001/116*0314*65      480
e2*2001/116*0327*55      479
e2*2001/116*0314*71      479
e2*2001/116*0314*63      462
e2*2001/116*0327*54      460
e2*2001/116*0327*59      460
e2*2001/116*0327*60      449
e2*2001/116*0314*69      446
e2*2001/116*0314*72      435
e2*2001/116*0314*64      431
e2*2001/116*0327*53      413
e2*2001/116*0327*61      380
e2*2007/46*0070*11       367
e2*2001/116*0373*46      346
e2*2001/116*0327*63      334
e2*2001/116*0373*49      328
e2*2001/116*0314*73      327
e2*2001/116*0373*43      326
e2*2001/116*0327*62      322
e2*2001/116*0327*64      318
e2*2001/116*0314*61      316
e2*2001/116*0327*65      310
e2*2001/116*0314*62      305
                        ...
e11*2001/116*0326*20       1
e2*2001/116*0366*21m1      1
e11*2001/116/0237*         1
zy025694                   1
E11*2007/46*0223*04        1
e9*2001/116*0065*00        1
e2*01/116*0362*36          1
e9*2001/116*0057*02        1
e2*2001/116*0371*06        1
E4*2001/116*0040*13        1
E4*2002/116*0076*31        1
zy043277                   1
e2*98/14*0254*25           1
e2*2001/116*0302*01        1
E2*2001/116*0363*28        1
e4*2001/116*0040*09        1
E2*2001/116*0377*03        1
E2*98/14*0238*03           1
e2*2007/46*0142*13         1
E2*2007/46*0440*00         1
e2*01/116*0350*20          1
e9*2001/116*0068*          1
E2*2001/116*0379*26        1
E1*2001/116*0237*09        1
e11*2007/46*0726*00        1
TD-5AS-027-90/12/13        1
iva05/09/13zy043190        1
e2*2007/46*007*08          1
E4*2007/46*0496*04         1
e2*2001/116*0366*08        1
Name: Tan, Length: 1780, dtype: int64

In [82]:
print(df["Cn"].value_counts())

CLIO                                       6155
MEGANE                                     5642
MEGANE SCENIC                              3497
LODGY                                      3102
SANDERO                                    3073
C5                                         2132
CAPTUR                                     2074
C4                                         1810
C3                                         1685
508                                        1552
208                                        1402
BERLINGO                                   1291
DUSTER                                     1280
V40                                        1083
DOKKER                                     1074
5008                                       1071
DS3                                        1063
3008                                       1050
308                                         860
C3 PICASSO                                  706
ESPACE                                      698
XC60                                        676
PARTNER                                     651
V60                                         642
S60                                         617
C4 PICASSO                                  589
LAGUNA                                      578
DS4                                         554
RCZ                                         545
DS5                                         542
                                           ...
NGC4P                                         1
RCZ 1.6 HDI 160 FAP                           1
PARTNER MOBILITY TREND AVH/P 7J5              1
V60 AUTHORITIES D5                            1
DS3C                                          1
XC60 T5 DRIVE-E                               1
DS3 THP 155 DSPORT 2DR                        1
208 ALL VTI 120 3T                            1
DISPATCH HDI125 L1 H1 COMBI SX 9 SEAT 4       1
DS5 HY4 SPORT CHIC                            1
508 ACT E-HDI 115                             1
XC60 R-DESIGN NAV D5 AWD                      1
500 / 1.4 / 16V C                             1
N C4 1.6 HDI 90 SELECTION                     1
PART ACT 1.6 VTI 120                          1
C4 PICASSO VTI120 SE                          1
C4 AIRCROSS HDI115 2                          1
208 GTI THP 200                               1
S60 S T                                       1
308 / CABRIOLET 2.0 / HDI                     1
I20                                           1
S60 D3 SE 4DR                                 1
V60 SE LUX D2 AUTO                            1
DS5 HDI160 DSPORT 4DR                         1
208 ACTIVE 1.2 4DR                            1
S60 SE LUX D5                                 1
308 / CABRIOLET 2.0 / HDI AUT.                1
V60 R-DESIGN LUX NAV D5                       1
208 ACT PT 68 5T                              1
XC70 SE NAV D4 AUTO                           1
Name: Cn, Length: 1832, dtype: int64

In [83]:
print(df["Ct"].value_counts())

M1     65721
M1G      143
Name: Ct, dtype: int64

In [84]:
print(df["r"].value_counts())

1       21480
2        7351
3        4231
4        2889
5        2219
6        1817
7        1444
8        1272
9        1096
10        967
11        866
12        748
13        686
14        629
15        561
17        520
16        511
18        459
19        426
21        382
20        380
22        352
24        345
23        316
25        304
27        286
28        275
26        257
30        229
29        224
        ...
1182        1
1118        1
2017        1
418         1
1765        1
610         1
1317        1
997         1
869         1
1828        1
1380        1
1188        1
1060        1
932         1
2917        1
2853        1
2725        1
611         1
4385        1
1954        1
3683        1
1378        1
1186        1
1058        1
994         1
930         1
866         1
738         1
674         1
4098        1
Name: r, Length: 1402, dtype: int64

In [104]:
print(df[["m (kg)","masse_ordma_min","masse_ordma_max"]].describe())
print((df["masse_ordma_min"] == df["masse_ordma_max"]).sum())
print(((df["m (kg)"] == df["masse_ordma_min"])).sum())
print(((df["m (kg)"] == df["masse_ordma_max"])).sum())
print(((df["m (kg)"] == df["masse_ordma_min"])|(df["m (kg)"] == df["masse_ordma_max"])).sum())
print(((df["m (kg)"] == df["masse_ordma_min"])&(df["m (kg)"] == df["masse_ordma_max"])).sum())

print(df[["m (kg)","masse_ordma_min","masse_ordma_max"]].head())

df_sans_masse = df.drop(["m (kg)","masse_ordma_min","masse_ordma_max"],axis=1)
df_sans_masse.duplicated().sum()

             m (kg)  masse_ordma_min  masse_ordma_max
count  65871.000000     65948.000000     65948.000000
mean    1412.249108      1365.596531      1382.619913
std      264.228032       246.705918       245.609113
min      401.000000       875.000000       890.000000
25%     1217.000000      1165.000000      1194.000000
50%     1383.000000      1350.000000      1383.000000
75%     1596.000000      1505.000000      1505.000000
max     3055.000000      2475.000000      2525.000000
53751
31411
27853
32055
27209
   m (kg)  masse_ordma_min  masse_ordma_max
0  1578.0             1565             1565
1  1565.0             1565             1565
2  1628.0             1615             1615
3  1627.0             1615             1615
4  1615.0             1615             1615

4614

In [121]:
print(df[["Enedc (g/km)","co2"]].describe())
print((df["Enedc (g/km)"] == df["co2"]).sum())

df_different_co2 = df[["Enedc (g/km)","co2"]].loc[df["Enedc (g/km)"] != df["co2"]]
df_different_co2 = np.abs(df_different_co2["Enedc (g/km)"]-df_different_co2["co2"])
print(df_different_co2.head(10))
print(df_different_co2.describe())
print((df_different_co2 > 5).sum())

       Enedc (g/km)           co2
count  65931.000000  65791.000000
mean     125.841091    125.227904
std       27.068669     25.593656
min        0.000000     48.000000
25%      105.000000    105.000000
50%      120.000000    120.000000
75%      143.000000    140.000000
max      571.000000    388.000000
53164
0      3.0
2      3.0
3      3.0
777    2.0
778    2.0
779    2.0
780    2.0
785    2.0
928    5.0
929    5.0
dtype: float64
count    12610.000000
mean         7.326963
std          9.081224
min          1.000000
25%          4.000000
50%          5.000000
75%          9.000000
max        427.000000
dtype: float64
4988

In [122]:
print(df["W (mm)"].describe())

count    65225.000000
mean      2654.869145
std        182.310538
min        695.000000
25%       2589.000000
50%       2641.000000
75%       2774.000000
max       4813.000000
Name: W (mm), dtype: float64

In [125]:
print(df[["At1 (mm)","At2 (mm)"]].describe())

           At1 (mm)      At2 (mm)
count  64743.000000  59805.000000
mean    1542.755587   1535.646234
std      137.715460    133.410412
min      695.000000    850.000000
25%     1497.000000   1486.000000
50%     1532.000000   1529.000000
75%     1570.000000   1556.000000
max     3122.000000   3122.000000

In [129]:
print(df["Ft"].value_counts())
#print(df["cod_cbr"].value_counts())

Diesel             32157
Petrol             18291
DIESEL              3907
petrol              3831
diesel              2859
PETROL              2843
LPG                  678
Electric             122
Diesel-Electric       41
electric              21
ELECTRIC              21
NG-Biomethane          6
                       3
Biodiesel              1
petrol-electric        1
DIESEL-ELECTRIC        1
Name: Ft, dtype: int64

In [131]:
to_replace = ["DIESEL","petrol","diesel","PETROL","electric","ELECTRIC","DIESEL-ELECTRIC"]
value = ["Diesel","Petrol","Diesel","Petrol","Electric","ELECTRIC","Diesel-Electric"]
df["Ft"] = df["Ft"].replace(to_replace=to_replace,value=value)
print(df["Ft"].value_counts())
print(df["cod_cbr"].value_counts())

Diesel             38923
Petrol             24965
LPG                  678
Electric             143
Diesel-Electric       42
ELECTRIC              21
NG-Biomethane          6
                       3
Biodiesel              1
petrol-electric        1
Name: Ft, dtype: int64
GO       39348
ES       25315
GH         433
GP/ES      325
ES/GP      325
EL         157
GL          33
EH           6
ES/GN        3
GN/ES        3
Name: cod_cbr, dtype: int64

In [132]:
print(df["Fm"].value_counts())

M    63830
B      701
E      109
F        1
Name: Fm, dtype: int64

In [189]:
print(df["ec (cm3)"].describe())


Q1 = df["ec (cm3)"].describe()["25%"]
Q3 = df["ec (cm3)"].describe()["75%"]
IQR = Q3-Q1
print(IQR)
limit_basse = Q1-IQR*1.5
limit_haute = Q3+IQR*1.5
print(limit_basse)
print(limit_haute)
df_ec_faible = df.loc[df["ec (cm3)"] < 850]
print(df_ec_faible.shape[0])
df_ec_haute = df.loc[df["ec (cm3)"] > 2500]
print(df_ec_haute.shape[0])

count    65077.000000
mean      1545.786668
std        368.061556
min          0.000000
25%       1368.000000
50%       1560.000000
75%       1598.000000
max       8400.000000
Name: ec (cm3), dtype: float64
230.0
1023.0
1943.0
29
464

In [197]:
print(df["ep (KW)"].describe())
print(df["puiss_max"].describe())

print(df[["ep (KW)","puiss_max"]])
print(df[["ep (KW)","puiss_max"]].isnull().sum())

count    49842.000000
mean        86.598652
std         29.399505
min         10.000000
25%         66.000000
50%         81.000000
75%         97.000000
max        419.000000
Name: ep (KW), dtype: float64
count    16384.000000
mean        83.279523
std         30.101897
min         10.000000
25%         68.000000
50%         77.000000
75%        100.000000
max        419.000000
Name: puiss_max, dtype: float64
       ep (KW)  puiss_max
0          NaN      125.0
1          NaN      125.0
2          NaN      125.0
3          NaN      125.0
4          NaN      125.0
5          NaN      331.0
6          NaN      147.0
7          NaN      147.0
8          NaN      147.0
9          NaN      147.0
10         NaN      147.0
11         NaN      147.0
12         NaN      147.0
13         NaN      147.0
14         NaN      147.0
15         NaN      147.0
16         NaN      147.0
17         NaN      125.0
18         NaN      125.0
19         NaN      125.0
20         NaN      125.0
21         NaN      125.0
22         NaN      125.0
23         NaN      125.0
24         NaN      125.0
25         NaN      125.0
26         NaN      125.0
27         NaN      125.0
28         NaN      125.0
29         NaN      125.0
...        ...        ...
65918    224.0        NaN
65919    224.0        NaN
65920    224.0        NaN
65921    224.0        NaN
65922    224.0        NaN
65923    224.0        NaN
65924    224.0        NaN
65925    224.0        NaN
65926    224.0        NaN
65927    224.0        NaN
65928    224.0        NaN
65929    242.0        NaN
65930      NaN        NaN
65931    224.0        NaN
65932    224.0        NaN
65933    224.0        NaN
65934    224.0        NaN
65935    224.0        NaN
65936    224.0        NaN
65937    224.0        NaN
65938    224.0        NaN
65939    224.0        NaN
65940    224.0        NaN
65941    224.0        NaN
65942    224.0        NaN
65943    224.0        NaN
65944    224.0        NaN
65945    224.0        NaN
65946    224.0        NaN
65947    224.0        NaN

[65948 rows x 2 columns]
ep (KW)      16106
puiss_max    49564
dtype: int64