# Exploration des données

Importation des bibliothèques

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from tqdm.notebook import *

import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

Importation des données

In [3]:
df2=pd.read_csv("data.csv",encoding='ISO-8859-1', sep = ',')
df=pd.read_csv("mars-2014-complete.csv",encoding='ISO-8859-1', sep = ';')

In [5]:
df2.head()

,ï»¿ID,Country,VFN,Mp,Mh,Man,MMS,Tan,T,Va,...,Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,ech,RLFI,Electric range (km)
0,280060,HU,NaN,GENERAL MOTORS,OPEL,ADAM OPEL AG,Opel,e1*2007/46*0374*14,0G-A,CAHBC12,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
1,280061,HU,NaN,GENERAL MOTORS,OPEL,ADAM OPEL AG,Opel,e1*2007/46*0374*14,0G-A,CAHBC12,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
2,280062,HU,NaN,GENERAL MOTORS,OPEL,ADAM OPEL AG,Opel,e1*2007/46*0374*14,0G-A,CAHBC12,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
3,280063,HU,NaN,GENERAL MOTORS,OPEL,ADAM OPEL AG,Opel,e1*2007/46*0374*14,0G-A,CAHBC12,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
4,280064,HU,NaN,GENERAL MOTORS,OPEL,ADAM OPEL AG,Opel,E1*2007/46*0374*14,0G-A,CAHBC12,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN

Infos sur le dataframe

In [6]:
display('Marque des voitures df2', df2['Mk'].unique())
display('Marque des voitures df2', df2['Mh'].unique())

display('Marque des voitures df', df['lib_mrq'].unique())

communs = set(df2['Mh']) & set(df['lib_mrq'])
print('nombre elements communs', len(communs))
print(communs)

'Marque des voitures df2'

array(['Opel', 'Porsche', 'Audi', 'RENAULT', 'ROLLS-ROYCE', 'Seat',
       'Skoda', 'Ssangyong', 'Suzuki', 'Tesla', 'Lexus', 'Toyota', 'Crd',
       'Ford-CNG-Technik', 'Volkswagen', 'OPEL', 'HONDA', 'HYUNDAI',
       'LAND ROVER', 'KIA', 'SUZUKI', 'FIAT', 'MAZDA', 'MITSUBISHI',
       'NISSAN', 'PORSCHE', 'SEAT', 'SKODA', 'TOYOTA', 'VOLKSWAGEN',
       'VOLVO', 'ABARTH', 'LANCIA', 'FORD', 'SECMA', 'SSANGYONG', 'TESLA',
       'LEXUS', 'Citroen', 'Peugeot', 'Lada', 'Bentley', 'BMW', 'BMW I',
       'MINI', 'Fiat', 'Jeep', 'Lancia', 'Dacia', 'Mercedes-Benz',
       'MERCEDES-BENZ', 'SMART', 'ALFA ROMEO', 'FIESTA', 'SUBARU',
       'FUJI HEAVY INDUSTRIES', 'CHEVROLET,GMC,BUICK,PONTIAC',
       'CHEVROLET,GMC,HOLDEN', '706/2007', 'CHEVROLET,DAEWOO,HOLD',
       'CHEVROLET', 'CHEVROLEÃ\x8eÂ¤', 'CHEVROLET,BUICK,PONTIAC',
       'JAGUAR (JAGUAR CARS L', 'JAGUAR LAND ROVER LIM',
       'JAGUAR LAND ROVERLIMI', 'JAGUAR LAND ROVER', 'KIA MOTORS',
       'Ã\x8eÅ¡IA', 'MAGYAR SUZUKI',
       'Ã\x8eÅ\x93Ã\x8eâ\x80\x98RUTI SUZUKI', 'MASERATI', 'MERCEDES-AMG',
       'MITSUBISHI YEN', '2ISSAN', 'OPEL, VAUXHALL', 'OPEL VAUXHALL',
       'VAUXHALL', '0000, VAUXHALL', '0PEL, VAUXHALL', 'AUDI',
       'SKODA AUTO S.A.', 'SUZUKI EUR', '05YOTA', 'VOLKSWAGEN,VW',
       'VOLKSWAGEN, VW', 'VOLKSWAGEN AG', '1OLKSWAGEN', '2OLKSWAGEN,VW',
       'WOLKSWAGEN,VW', '3OLVO', 'CITROEN', 'PEUGEOT', 'LADA', 'JEEP',
       'DACIA', 'MERCEDES', 'VOLKSWAGEN  COMM', 'ASTON MARTIN', 'AUDI AG',
       'BENTLEY', 'BMWMINI', 'DACIA AUTOMOBILE SA', '0ERCEDES-BENZ', nan,
       'TESLA MOTORS', 'ALPINA', 'MERCEDES BENZ', 'MERCEDES AMG',
       'DONKERVOORT', 'FERRARI', 'FISKER', 'FORD-CNG-TECHNIK', 'MCLAREN',
       'MIA', 'MORGAN', 'CRD CAR RESEARCH & DEVELOPMENT GMBH & CO KG',
       'INFINITI', 'CATERHAM', 'LAMBORGHINI', 'MAHINDRA', 'TATA',
       'BLUECAR', 'PGO', 'QUATTRO', 'IVECO-FORD', 'GENERAL MOTORS',
       'BUGATTI', 'BYD', 'CHRYSLER', 'LAVERDA', 'JAGUAR', 'X-BOW',
       'BENYE', 'LOTUS', 'MG', 'NOBLE', 'PERODUA', 'PROTON', 'Renault',
       'ROLLS ROYCE', 'SAAB', 'DODGE', 'PORSCHE 2600000', 'RANGE ROVER',
       'MAZDA 6', 'THINK', 'JAGUAR LAND ROVER LIMITED', 'KIA MOTOR',
       'KTM', 'AUTOMOBILI LAMBORGHINI', 'MAHINDRA LTD.', 'FORD (USA)',
       'CADILLAC', 'Chevrolet', 'DFSK', 'Honda', 'Hyundai',
       'HYUNDAI MOTOR (ROK)', 'HYUNDAI MOTOR (KOR)', 'HYUNDAI MOTOR (CZ)',
       'Hyundai Motor (CZ)', 'HYUNDAI MOTOR (IND)', 'Jaguar',
       'Land Rover', 'HYUNDAI MOTOR (SK)', 'Lamborghini', 'Mazda',
       'Mercedes-AMG', 'MITSUBISHI (J)', 'MITSUBISHI (NL)',
       'MITSUBISHI (THA)', 'FORD - CNG - TECHNIK', 'smart', 'SsangYong',
       'GOLDSCHMITT', 'VW', 'FORD (D)', 'JAGUAR LAND ROVER LTD', 'Smart',
       'Ferrari', 'Alfa Romeo', 'Ford', 'Subaru',
       'Jaguar Land Rover Limited', 'Maserati', 'Mitsubishi', 'Nissan',
       'SCANIA', 'RFMOTO', 'DR MOTOR COMPANY', 'FIAT - INNOCENTI',
       'LANCIA - AUTOBIANCHI', 'IVECO - FIAT', 'GREAT WALL', 'ISUZU',
       'MORGAN MOTOR', 'OPEN', 'DAIHATSU', 'MANITOWE', 'PIAGGIO', 'Volvo',
       'BENTLEY MOTORS Ltd', 'OMCI', 'MICRO-VETT', 'TAZZARI', 'IAV',
       'WIESMANN', 'BIERMANN', 'PEUGOT', 'VOLKSWAGEN,  VW',
       'VOLKSWAGEN - VW', 'BMW ALPINA', 'DANGEL', 'VOLKSWAGEN ,VW',
       'VOLKSWAGEN VW', 'RADICAL SPORTSCARS', 'ASTONMARTIN',
       'JAGUAR CARS LIMITED', 'LANDWIND', 'LADA AUTOMOBILE GMBH',
       'CRD CAR RESEARCH GMBH', 'SEIKEL', 'HAIDLMAIR', 'OTHER BRITISH',
       'BURSTNER', 'ZERO', 'ASTON-MARTIN', 'QOROS', 'VAZ', 'NILSSON', ' ',
       'PORCHE', 'CATERHAM CARS LTD', 'SSANG YONG', 'MAYBACH',
       'DONKERVOORT(JD)', 'VEICOLI', 'BINZ', 'BUICK', 'BAVARIA', 'AA-NSS',
       'PIRSO', 'Vauxhall', 'LADA - VAZ'], dtype=object)

'Marque des voitures df2'

array(['OPEL', 'PORSCHE', 'QUATTRO', 'RENAULT', 'ROLLS ROYCE', 'SEAT',
       'SKODA', 'SSANGYONG', 'SUZUKI MOTOR CORPORATION', 'TESLA',
       'TOYOTA', 'UNKNOWN', 'CNG TECHNIK', 'VOLKSWAGEN',
       'GTF INNOVATIONS', 'HONDA MOTOR CO', 'HONDA UK', 'HYUNDAI',
       'HYUNDAI ASSAN', 'HYUNDAI CZECH', 'JAGUAR LAND ROVER LIMITED',
       'KIA', 'KIA SLOVAKIA', 'MAGYAR SUZUKI', 'MAZDA',
       'MITSUBISHI MOTORS CORPORATION', 'MITSUBISHI MOTORS THAILAND',
       'NISSAN', 'VOLVO', 'FIAT GROUP', 'FORD WERKE GMBH', 'OUT OF SCOPE',
       'SECMA', 'AUDI AG', 'AUTOMOBILES CITROEN', 'AUTOMOBILES PEUGEOT',
       'AVTOVAZ', 'BENTLEY', 'BMW AG', 'BMW GMBH', 'CHRYSLER', 'DACIA',
       'DAIMLER AG', 'FUJI HEAVY INDUSTRIES', 'GM KOREA', 'HONDA CHINA',
       'HYUNDAI INDIA', 'MARUTI SUZUKI', 'MASERATI',
       'MITSUBISHI MOTORS EUROPE', 'SUZUKI THAILAND', 'ASTON MARTIN',
       'ALPINA', 'MERCEDES AMG', 'DONKERVOORT', 'FERRARI', 'FISKER',
       'MCLAREN', 'MIA', 'MORGAN', 'CATERHAM', 'LAMBORGHINI', 'MAHINDRA',
       'TATA', 'BLUECAR', 'BLUECAR ITALY', 'PGO',
       'GENERAL MOTORS COMPANY', 'BUGATTI', 'BYD', 'KTM', 'LOTUS',
       'MG MOTOR', 'NOBLE', 'PERODUA', 'PROTON', 'AA-IVA', 'AA-NSS',
       'AUDI HUNGARIA', 'CHEVROLET ITALIA', 'HONDA TURKIYE', 'LADA',
       'LADA FRANCE', 'RENAULT TRUCKS', 'TAZZARI', 'DR MOTOR',
       'GREAT WALL MOTOR', 'ISUZU', 'PAGANI', 'PIAGGIO', 'NEVS',
       'MICRO VETT', 'WIESMANN', 'RADICAL MOTOSPORT', 'SPYKER', 'IVECO',
       'JIANGLING MOTOR', 'KOENIGSEGG', 'DONGFENG', 'FORD INDIA',
       'FORD MOTOR COMPANY', 'QOROS', 'ARTEGA'], dtype=object)

'Marque des voitures df'

array(['ALFA-ROMEO', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW', 'CADILLAC',
       'CHEVROLET', 'CITROEN', 'DACIA', 'FERRARI', 'FIAT', 'FORD',
       'HONDA', 'HYUNDAI', 'INFINITI', 'JAGUAR', 'JEEP', 'KIA', 'LADA',
       'LAMBORGHINI', 'LANCIA', 'LAND ROVER', 'LEXUS', 'LOTUS',
       'MASERATI', 'MAZDA', 'MERCEDES', 'MIA', 'MINI', 'MITSUBISHI',
       'NISSAN', 'OPEL', 'PEUGEOT', 'PORSCHE', 'RENAULT', 'ROLLS-ROYCE',
       'SEAT', 'SKODA', 'SMART', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA',
       'TOYOTA', 'VOLKSWAGEN', 'VOLVO'], dtype=object)

nombre elements communs 23
{'OPEL', 'KIA', 'SKODA', 'TESLA', 'MASERATI', 'VOLVO', 'RENAULT', 'LAMBORGHINI', 'TOYOTA', 'DACIA', 'NISSAN', 'ASTON MARTIN', 'HYUNDAI', 'MIA', 'LADA', 'SEAT', 'PORSCHE', 'LOTUS', 'FERRARI', 'VOLKSWAGEN', 'SSANGYONG', 'BENTLEY', 'MAZDA'}

In [7]:
display('version df2', df2['Ve'].unique())
display('variant df2', df2['Va'].unique())
display('Type df2', df2['T'].unique())
display('Type variante vesion df', df['tvv'].unique())

communs = set(df2['Ve']) & set(df['tvv'])
print('nombre elements communs entre Ve et tvv', len(communs))

communs = set(df2['Va']) & set(df['tvv'])
print('nombre elements communs entre Va et tvv', len(communs))

communs = set(df2['T']) & set(df['tvv'])
print('nombre elements communs entre T et tvv', len(communs))

'version df2'

array(['BA1N1FMHD5', 'BA1N4FMHA5', 'BA1N4FMHB5', ..., 'M51CY1', 'M66CY1',
       'M9J3SC'], shape=(24066,), dtype=object)

'variant df2'

array(['CAHBC12', 'CAHBC23', 'CAHEA12', ..., 'MS58', 'B5PG1', 'M9J3S'],
      shape=(12023,), dtype=object)

'Type df2'

array(['0G-A', 'A-H/MONOCAB', 'A-H/Monocab', ..., 'RR4EWB', '2172', 'ZB'],
      shape=(2620,), dtype=object)

'Type variante vesion df'

array(['939AXN1B52C', '939BXN1B53C', '939AXR1B64', ..., 'BZ8256',
       'BZ83A4', 'BZ90H6'], shape=(35430,), dtype=object)

nombre elements communs entre Ve et tvv 625
nombre elements communs entre Va et tvv 57
nombre elements communs entre T et tvv 17

In [8]:
display('version df2', df2['Tan'].unique())

display('Type df2', df['champ_v9'].unique())

'version df2'

array(['e1*2007/46*0374*14', 'E1*2007/46*0374*14', 'e1*2007/46*0374*15',
       ..., 'e11*2001/116*0202*07', 'e13*2007/46*1075*08',
       'e6*2001/116*0124*05'], shape=(10036,), dtype=object)

'Type df2'

array(['715/2007*692/2008EURO5', '715/2007*195/2013EURO6',
       '715/2007*195/2013EURO5', '715/2007*630/2012EURO6',
       '715/2007*630/2012EURO5', '"715/2007*566/2011EURO5',
       '"715/2007*630/2012EURO5', '"715/2007*195/2013EURO6',
       '"715/2007*195/2013EURO5', '"715/2007*630/2012EURO6',
       '"715/2007*566/2011EURO6', '715/2007*566/2011EURO5',
       '"715/2007*143/2013EURO5', '"715/2007*692/2008EURO5',
       '"715/2007*143/2013EURO6', '"715/2007*459/2012EURO5', nan,
       '715/2007*459/2012EURO5', '715/2007*459/2012EURO6',
       '715/2007*195/20', '715/2007*195/2013EU', '715/2007*195/201',
       '715/2007*195/2013EUR', '715/2007*630/2012EURO', '715/2007*1',
       '715/2007*', '715/2007*195/2013', '715/2007*630/20',
       '"2005/55*2008/74EURO5', '"2005/55*2008/74EEV',
       '"715/2007*459/2012EURO6', '715/20', '715/2007*143/2013EURO5',
       '715/2007*459/2012EURO', '"595/2009*64/2012EURO6',
       '715/2007*459/2012EU'], dtype=object)

In [9]:
n = df2['Tan'].str.contains('EU', na=False).sum()
print(n)

0

In [10]:
display('type de carburant df2', df2['Ft'].unique())
display('Fuel mode', df2['Fm'].unique())
display('Fuel consumption', df2['Fuel consumption '].unique())

display('carburant df', df['cod_cbr'])

'type de carburant df2'

array(['Diesel', 'Petrol', 'NG-biomethane', 'Petrol-electric', 'PETROL',
       'Electric', 'LPG', 'electric', 'petrol-electric', 'DIESEL',
       'ELECTRIC', 'Diesel-Electric', 'PETROL-ELECTRIC', 'E85', nan,
       'petrol', 'Petrol-Electric', 'Hydrogen', 'NG-BIOMETHANE',
       'Petrol-Gas', 'Biodiesel', 'BIODIESEL', 'Diesel-electric',
       'diesel', 'diesel-electric', 'HYDROGEN'], dtype=object)

'Fuel mode'

array(['M', 'E', 'B', 'F', nan], dtype=object)

'Fuel consumption'

array([nan])

'carburant df'

0        ES
1        ES
2        GO
3        GO
4        GO
         ..
55039    GO
55040    GO
55041    GO
55042    GO
55043    ES
Name: cod_cbr, Length: 55044, dtype: object

In [11]:
df2.rename(columns={"Ve": "tvv"}, inplace=True)

In [66]:
df_merged = df.merge(df2, on="tvv", how="inner")  # Fusion uniquement si une correspondance existe

In [68]:
print("Dimensions (lignes, colonnes) :", df_merged.shape)
display(df_merged.head())

Dimensions (lignes, colonnes) : (30948, 69)

,lib_mrq,lib_mod_doss,lib_mod,dscom,cnit,tvv,cod_cbr,hybride,puiss_admin_98,puiss_max,...,Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,ech,RLFI,Electric range (km)
0,CITROEN,BERLINGO,BERLINGO,BERLINGO 1.6 e-HDi (90ch) FAP 4x4 DANGEL,M10DGLVP001A487,V36CJ9HPDGL0/00S,GO,non,6,68,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
1,CITROEN,BERLINGO,BERLINGO,BERLINGO 1.6 HDi (115ch) FAP 4x4 DANGEL,M10DGLVP001R478,V36CJ9HLDGL0/00,GO,non,7,84,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
2,CITROEN,BERLINGO,BERLINGO,BERLINGO 1.6 HDi (115ch) FAP 4x4 DANGEL,M10DGLVP001R478,V36CJ9HLDGL0/00,GO,non,7,84,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
3,CITROEN,BERLINGO,BERLINGO,BERLINGO 1.6 HDi (115ch) FAP 4x4 DANGEL,M10DGLVP001R478,V36CJ9HLDGL0/00,GO,non,7,84,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
4,CITROEN,BERLINGO,BERLINGO,BERLINGO 1.6 HDi (115ch) FAP 4x4 DANGEL,M10DGLVP001R478,V36CJ9HLDGL0/00,GO,non,7,84,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN

In [14]:
df_merged_L = df.merge(df2, on="tvv", how="left")  # Fusion uniquement si une correspondance existe
print("Dimensions (lignes, colonnes) :", df_merged_L.shape)
display(df_merged_L.head())

Dimensions (lignes, colonnes) : (85332, 69)

,lib_mrq,lib_mod_doss,lib_mod,dscom,cnit,tvv,cod_cbr,hybride,puiss_admin_98,puiss_max,...,Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,ech,RLFI,Electric range (km)
0,ALFA-ROMEO,159,159,159 1750 Tbi (200ch),M10ALFVP000G340,939AXN1B52C,ES,non,12,147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALFA-ROMEO,159,159,159 1750 Tbi (200ch),M10ALFVP000H341,939BXN1B53C,ES,non,12,147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALFA-ROMEO,159,159,159 2.0 JTDm (136ch),M10ALFVP000E302,939AXR1B64,GO,non,7,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALFA-ROMEO,159,159,159 2.0 JTDm (136ch),M10ALFVP000F303,939AXR1B64B,GO,non,7,100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALFA-ROMEO,159,159,159 2.0 JTDm (170ch),M10ALFVP000G304,939AXS1B66,GO,non,9,125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_merged_L = df.merge(df2, on="tvv", how="right")  # Fusion uniquement si une correspondance existe
print("Dimensions (lignes, colonnes) :", df_merged_L.shape)
display(df_merged_L.head())

Dimensions (lignes, colonnes) : (420656, 69)

,lib_mrq,lib_mod_doss,lib_mod,dscom,cnit,tvv,cod_cbr,hybride,puiss_admin_98,puiss_max,...,Erwltp (g/km),De,Vf,Status,year,Date of registration,Fuel consumption,ech,RLFI,Electric range (km)
0,NaN,NaN,NaN,NaN,NaN,BA1N1FMHD5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,BA1N4FMHA5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,BA1N4FMHB5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,BA1N4FMHD5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,BA1NAFMHD5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,F,2014,NaN,NaN,NaN,NaN,NaN

In [2]:
import numpy as np
import pandas as pd

df2 = pd.read_csv("data.csv")
df = pd.read_csv("mars-2014-complete.csv",sep = ';',encoding = "latin-1",on_bad_lines='skip')

#Drop duplicates dans df
df = df.drop_duplicates()

#Drop useless columns
columns_to_remove = ["ID","VFN","Cr","Mt","Ewltp (g/km)",
                     "z (Wh/km)","IT","Ernedc (g/km)","Erwltp (g/km)","De",
                     "Vf","Status","year","Date of registration","Fuel consumption ",
                     "ech","RLFI","Electric range (km)"]
df2 = df2.drop(columns_to_remove,axis = 1)
columns_to_remove = ["cnit","hc","hcnox","date_maj",
                     "Unnamed: 26","Unnamed: 27","Unnamed: 28","Unnamed: 29",]
df = df.drop(columns_to_remove,axis = 1)

#Remplacer les valeurs de Mk dans df2
to_replace = ["ALFA ROMEO","AUTOMOBILES CITROEN","FIAT ","Peugot","Citroen","Dacia","DACIA AUTOMOBILE SA","Renault","Volvo","VOLVO/CARRUS"]
value = ["ALFA-ROMEO","CITROEN","FIAT","PEUGOT","CITROEN","DACIA","DACIA","RENAULT","VOLVO","VOLVO"]
df2 = df2.replace(to_replace=to_replace, value=value)

#Split en 3 df
df2_T = df2.drop(["Va","Ve"],axis = 1).rename({'T':'tvv','Mk':'lib_mrq'},axis =1)
df2_Va = df2.drop(["T","Ve"],axis = 1).rename({'Va':'tvv','Mk':'lib_mrq'},axis =1)
df2_Ve = df2.drop(["T","Va"],axis = 1).rename({'Ve':'tvv','Mk':'lib_mrq'},axis =1)

df_merge_T = df.merge(right=df2_T,on=["tvv",'lib_mrq']).reset_index(drop=True)
df_merge_Va = df.merge(right=df2_Va,on=["tvv",'lib_mrq']).reset_index(drop=True)
df_merge_Ve = df.merge(right=df2_Ve,on=["tvv",'lib_mrq']).reset_index(drop=True)

df_merge_T = df_merge_T.drop(["tvv"], axis=1)
df_merge_Va = df_merge_Va.drop(["tvv"], axis=1)
df_merge_Ve = df_merge_Ve.drop(["tvv"], axis=1)

df_merge = pd.concat([df_merge_T,df_merge_Va,df_merge_Ve],axis=0).reset_index(drop=True)

#Suppresion des duplicates
df_merge = df_merge.drop_duplicates().reset_index(drop=True)

# for voiture in list(df_merge["Mk"].unique()):
#     if (voiture in list(df_merge["lib_mrq"].unique())):
#         continue
#     else:
#         print(voiture)
    

print('Fin de code')

C:\Users\juliette\AppData\Local\Temp\ipykernel_53264\4230515015.py:4: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("data.csv")

Fin de code

In [6]:
df_merge.to_csv("data_merge.csv", index=False)